<div class="page" id="contact">
    <div class="contact">
        <div class="title-section text-left text-sm-center">
            <h2>{{ fieldRoot.pageHeaderForeground }}
            </h2>
            <span class="title-bg">{{ fieldRoot.pageHeaderBackground }}</span>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <!-- Left Side Starts -->
                    <div class="col-12 col-lg-4">
                        <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">{{ fieldRoot.descriptionIntro }}</h3>
                        <p class="open-sans-font mb-3">{{ fieldRoot.descriptionLongContent }}</p>
                        
                        @for(detail of fieldRoot.contactDetails; track detail){
                        @if(detail.iconRef === 'envelope'){
                        <p class="open-sans-font custom-span-contact position-relative">
                            <i class="fa fa-envelope-open position-absolute"></i>
                                    <span class="d-block">mail me</span>{{detail.text}}
                                    </p>
                            }
                            @else {
                                <p class="open-sans-font custom-span-contact position-relative">
                                    <i class="fa fa-phone-square position-absolute"></i>
                                    <span class="d-block">call me</span>{{detail.text}}
                                    </p>
                            }
                            }

                        <ul class="social list-unstyled pt-1 mb-5">
                            @for(social of fieldRoot.socials; track social){
                            @if(social.isActive === 'yes'){
                            
                            <li class="{{social.iconRef}}">
                                <a title="{{social.title}}" target="_blank" href="{{social.url}}">
                                    <i class="fa fa-{{social.iconRef}}"></i>
                                </a>
                            </li>
                                }
                                }
                        </ul>
                    </div>
                    <!-- Left Side Ends -->
                    <!-- Contact Form Starts -->
                    <div class="col-12 col-lg-8">
                        <app-contact-form></app-contact-form>
                    </div>
                    <!-- Contact Form Ends -->
                </div>
            </div>
        </div>
    </div>
</div>