<form class="contactform" (ngSubmit)="onSubmit()">
    <div class="contactform">
        <div class="row">
            <div class="col-12 col-md-4">
                <input autocomplete="off" type="text" required [(ngModel)]="contactForm.name" name="name"
                    placeholder="{{extractFieldLabels('Name')}}">
            </div>
            <div class="col-12 col-md-4">
                <input autocomplete="off" type="email" name="email" required [(ngModel)]="contactForm.email"
                    placeholder="{{extractFieldLabels('Email')}}">
            </div>
            <div class="col-12 col-md-4">
                <input autocomplete="off" type="text" name="subject" required [(ngModel)]="contactForm.subject"
                    placeholder="{{extractFieldLabels('Subject')}}">
            </div>
            <div class="col-12">
                <textarea name="message" placeholder="{{extractFieldLabels('Message')}}" required
                    [(ngModel)]="contactForm.message"></textarea>
                <button type="submit" class="button">
                    <span class="button-text">{{ buttonMessage }}</span>
                    <span class="button-icon fa fa-send"></span>
                </button>
            </div>
            <div class="col-12 form-message">
                <span class="output_message text-center text-success font-weight-600 text-uppercase"
                    [ngClass]="{'text-success': messageResponse?.isSuccess, 'text-danger': !messageResponse?.isSuccess}">{{
                    messageResponse?.message
                    }}
                </span>
            </div>
        </div>
    </div>
</form>